@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Voltaire);
html, body {
    overflow-x: hidden;
}

#menu__toogler:checked + .main__wrapper {
    margin-left: 250px;
}

#menu__toogler {
    display: none;
}

.main__wrapper {
    padding-left: 0;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
    overflow-x: hidden;
    z-index: -4;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    heigth: 100%;
    background: black;
    z-index: -3;
}
.sidebar .sidebar__wrapper {
    position: relative;
    width: 250px;
    margin: 0;
    text-align: center;
}
.sidebar .sidebar__wrapper span {
    color: #FF9100;
    font-size: 48px;
}
.sidebar .sidebar__wrapper h4 {
    text-transform: uppercase;
    color: white;
}
.sidebar .sidebar__wrapper ul, .sidebar .sidebar__wrapper h4 {
    margin: 20px auto;
    list-style: none;
    padding: 0;
}
.sidebar .sidebar__wrapper ul li, .sidebar .sidebar__wrapper h4 li {
    padding: 0;
    width: 100%;
    height: 40px;
    line-height: 42px;
}
.sidebar .sidebar__wrapper ul li:hover, .sidebar .sidebar__wrapper h4 li:hover {
    background: #1D1F20;
    color: #629AB5;
}
.sidebar .sidebar__wrapper ul li a, .sidebar .sidebar__wrapper h4 li a {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: white;
}

.top__bar {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 2;
}
.top__bar .header__menu {
    float: left;
    margin: -3px 20px;
    font-size: 34px;
}
.top__bar .header__menu label {
    text-decoration: none;
    color: #FF9100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.top__bar .header__signIn {
    float: right;
    margin: 10px 20px;
}
.top__bar .header__signIn a, .top__bar .header__signIn span {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: Open Sans;
    margin-right: 5px;
}

header {
    position: fixed;
    top: 0;
    display: table;
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    background: url("http://wallpapercave.com/wp/qAtZTaP.jpg") center center no-repeat scroll;
    background-size: cover;
    z-index: -1;
}
header .header__title {
    display: table-cell;
    text-align: center;
    padding-top: 5%;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
}
header .header__title h1, header .header__title h4 {
    font-size: 74px;
    color: white;
    font-family: "Voltaire", sans-serif;
}

.main-container {
    width: 100%;
    background: white;
    margin-top: 100vh;
    z-index: 1;
    overflow: hidden;
    position: absolute;
}
.main-container p, .main-container h1 {
    max-width: 600px;
    padding: 0 20px;
    margin: 20px auto;
    font-family: Open sans;
}
