link(href='/css/landingPage.css', rel='stylesheet')
body
    input(id="menu__toogler", type="checkbox")
    div.main__wrapper
        div.top__bar
            div.header__menu
                label(for="menu__toogler").toggle ☰
            div.header__signIn
                span ✌
                a(href="#0") Sign In

        header
            div.header__title
                h1 Travel With Me

        div.main-container
            h1 My trip to NYC
            p  The trip took me to the New York   City, what a wonderful place! Great   City and Very Busy! I've seen busy people, busy street, towering buildings and a lot more. Great cultural diversity, wonderful food (of all varieties), anything you want and more. I had a wonderful experience. I enjoyed every minute of it.

            p I was very impressed with what I saw. I passed through Times Square, then "the Empire State Building”, a giant building. And I went straight to the very known Fifth Avenue to enjoy the excitement of Rockefeller Center. There I saw the biggest and nicest Christmas tree in NY. The fifth very is a very interesting place from where many shops and the city and its people impressed me a lot.

            p More than fifteen years ago, as a young student growing up in China, I dreamed of New York City as the place to see. New York city symbolized the United States, the greatest country on earth. I longed to see it. I wanted to even live there some day. Although this trip is not my first visit to the city, I still feel that there is something very special about New York City. It is a city that has welcomed and accommodated people from all over the world. The "typical" New Yorker we meet today may be African American, Italian, Dutch, Irish, German, Israeli, Ukrainian, Russian, Chinese, Japanese, Vietnamese, Korean, Jewish, Protestant, Catholic, Shinto, Buddhist, or Moslem. The cultural diversity has made it possible that we can find just about anything we may want. There is always something for everyone. For example, New York has a wonderful variety of restaurants for just about every type of food we can imagine. We walk down one street, get Chinese food for lunch (excellent food, great prices), then turn a corner, stop in an Italian bakery for a quick snack, or turn one more corner we may find Russian Tea Room, etc. In addition, Asian cuisine offers a diverse variety. We have many choices like Chinese, Thai, Korean, Japanese and Vietnamese

    div.sidebar
        div.sidebar__wrapper
            h4.sidebar__wrapper__title Menu
            ul
                li
                    a(href="#0") Home
                li
                    a(href="#0") Portfolio
                li
                    a(href="#0") Contact
            span ✌