doctype
html
    head
        title Travel With Me
        include scripts
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        base(href="/")
 body(ng-app='app')
     block main-content
     block content
